{% extends 'EN/Clients/Index.html' %}
{% load static %}

{% block style %}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <!-- <link href="{% static '/ProfilePage/css/font-awesome/css/all.min.css' %}" rel="stylesheet"> -->
    <link href="{% static '/ProfilePage/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/ProfilePage/css/aos.css' %}" rel="stylesheet">
    <link href="{% static '/ProfilePage/css/main.css' %}" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
{% endblock %}

{% block content %}

  	<div class="container">
		<div class="cover shadow-lg bg-white" style="margin: 15% 0;">
		  <div class="cover-bg p-3 p-lg-4 text-white">
		    <div class="row mx-3">
		      <div class="col-lg-4 col-md-5">
		      	{% if client_cv.photo == None or client_cv.photo == '' %}
		      		<div class="avatar hover-effect bg-white shadow-sm p-1"><img src="http://127.0.0.1:8000/avatar.jpg" width="200" height="200"/></div>
				{% else %}
					<div class="avatar hover-effect bg-white shadow-sm p-1"><img src="http://127.0.0.1:8000/{{client_cv.photo}}" width="200" height="200"/></div>
				{% endif %}
		        
		      </div>
		      <div class="col-lg-8 col-md-7 text-center text-md-start">
		      	{% if user_logged_in.client_cv %}
		        <h1 class="mt-2" data-aos="fade-left" data-aos-delay="0" style="text-transform: capitalize;">{{client_cv.first_name}} {{client_cv.last_name}}
		        	{% if selected_client.is_active %}
						<span class="notice bg-success p-2">Active</span>
					{% else %}
						<span class="notice notice-danger">Not Active</span>
					{% endif %}
				</h1>
		        <p data-aos="fade-left" data-aos-delay="100" style="text-transform: capitalize;">{{client_cv.specialization}}</p>
		        
		        <div class="d-print-none" data-aos="fade-left" data-aos-delay="200"><a class="btn btn-success shadow-sm mt-1 me-1" href="{% url 'cv_download'  %}" target="_blank" style="font-size: 16px;">Download CV</a><!-- <a class="btn btn-success shadow-sm mt-1" href="#contact" style="font-size: 16px;">Hire Me</a> --></div>
		        {% else %}
		        <h1 class="mt-2" data-aos="fade-left" data-aos-delay="0" style="text-transform: capitalize;">{{user_logged_in.first_name}} {{user_logged_in.last_name}}
		        	{% if selected_client.is_active %}
						<span class="notice bg-success p-2">Active</span>
					{% else %}
						<span class="notice notice-danger">Not Active</span>
					{% endif %}
				</h1>
				<div  data-aos="fade-left">
			  		<a class="btn btn-success mt-2" href="{% url 'second_step_register' %}" style="font-size: 16px;"><i style="font-size: 16px;" class="mdi mdi-pencil"></i> Complete Your Information</a>
			  	</div>
		        <!-- <p data-aos="fade-left" data-aos-delay="100" style="text-transform: capitalize;">{{client_cv.specialization}}</p> -->
		        
		        
		        {% endif %}
		      </div>
		    </div>
		  </div>
		  {% if user_logged_in.client_cv %}
			  <div class="about-section pt-4 px-3 px-lg-4 mt-md-5">
				   <div class="row mx-3">
				      <div class="col-lg-6">
				        <h1 class="mb-3">About Me</h1>
				        <p>Hello! I’m Joyce Harrison. I am passionate about UI/UX design and Web Design. I am a skilled Front-end Developer and master of Graphic Design tools such as Photoshop and Sketch.</p>
				      </div>
				      <div class="col-lg-5 offset-md-1">
				        <div class="row mt-2">
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Personal ID</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.personal_id}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Email</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.email}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Phones</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.phone_primary}} - {{client_cv.phone_secondary}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Nationality</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.nationality}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Specialization</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.specialization}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Degree</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.degree}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">City</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.city}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Birthday</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.birth_date|date:'Y-m-d'}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Age</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{client_cv.age}}</div>
				          </div>
				          <div class="col-sm-4 col-4">
				            <div class="pb-1 fw-bold">Member Since</div>
				          </div>
				          <div class="col-sm-8 col-8">
				            <div class="pb-1 text-secondary">{{selected_client.date_joined|date:'Y-m-d'}}</div>
				          </div>
				          <div class="col-sm-12 col-12">
				          	<a class="btn btn-primary mt-2" href="{% url 'client_cv_update' %}" style="font-size: 16px;"><i style="font-size: 16px;" class="mdi mdi-pencil"></i> Update Information</a>
				          </div>
				        </div>
				      </div>
				   </div>
			  </div>
		  	<hr class="d-print-none"/>
			<div>
			  <div class="skills-section px-3 px-lg-4 py-4 mx-3">
			    <h1 class="mb-4">Professional Skills <a class="btn btn-primary" href="{% url 'client_cv_skill_create' %}" style="font-size: 12px;">Add a new skill</a></h1>
			    <div class="row">
			    	{% for skill in client_skills %}
				      <div class="col-md-6 mb-3">
				          <div class="h3 text-muted text-large mb-2">{{skill.title}} (<a href="{% url 'client_cv_skill_update' skill.skill_id %}">Edit</a> - <a href="{% url 'client_cv_skill_delete' skill.skill_id %}">Delete</a>)</div>
				          <div class="progress my-1">
				            <div class="h1 progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: {{skill.progress}}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
				          </div>
				      </div>
			    	{% endfor %}
			    </div>
			  </div>
			  <hr class="d-print-none"/>
			  <div class="work-experience-section px-3 px-lg-4 py-4 mx-3">
			    <h1 class="mb-4">Work Experience <a class="btn btn-primary" href="{% url 'client_cv_experience_create' %}" style="font-size: 12px;">Add Experience</a></h1>
			    <div class="timeline">
			    	{% for experience in client_experience %}
				      <div class="timeline-card timeline-card-primary card shadow-sm p-2">
				        <div class="card-body">
				          <div class="h3 mb-1"><a class="text-dark" href="{% url 'client_cv_experience' experience.experience_id %}">{{experience.job_title}}</a> <span class="text-muted h4">at {{experience.company_name}}</span></div>
				          <div class="text-muted text-medium mb-2">{{experience.start_date}} ~ {{experience.end_date}}</div>
				          <div>{{experience.description}}</div>
				        </div>
				      </div>
			      	{% endfor %}
			    </div>
			  </div>
			  <hr class="d-print-none"/>
			  <div class="page-break"></div>
			  <div class="education-section px-3 px-lg-4 py-4 mx-3">
			    <h1 class="mb-4">Education <a class="btn btn-primary" href="{% url 'client_cv_education_create' %}" style="font-size: 12px;">Add Education</a></h1>
			    <div class="timeline">
			    	{% for education in client_educations %}
				      	<div class="timeline-card timeline-card-success card shadow-sm p-2">
					        <div class="card-body">
					          <div class="h3 mb-1"><a class="text-dark" href="{% url 'client_cv_education' education.education_id %}">{{education.title}}</a> <span class="text-muted h4">from {{education.educational_istitution}}</span></div>
					          <div class="text-muted text-medium mb-2">{{education.start_date}} ~ {{education.end_date}}</div>
					          <div>{{education.description}}</div>
					        </div>
				      	</div>
			      	{% endfor %}
			    </div>
			  </div>
			  <hr class="d-print-none"/>
			  <div class="px-3 px-lg-4 py-4 mx-3">
			    <h1 class="mb-4">Courses <a class="btn btn-primary" href="{% url 'client_cv_course_create' %}" style="font-size: 12px;">Add Course</a></h1>
			    <div class="timeline">
			    	{% for course in client_courses %}
				      	<div class="timeline-card timeline-card-primary card shadow-sm p-2">
					        <div class="card-body">
					          <div class="h3 mb-1"><a class="text-dark" href="{% url 'client_cv_course' course.course_id %}">{{course.title}} ({{course.total_hours}} hours)</a> <span class="text-muted h4">from {{course.educational_istitution}}</span></div>
					          <div class="text-muted text-medium mb-2">{{course.date}}</div>
					          <div>{{course.description}}</div>
					        </div>
				      	</div>
			      	{% endfor %}
			    </div>
			  </div>
			</div>
		  {% else %}
		  	<div class="my-4 py-4"></div>
		  {% endif %}
		  <hr class="d-print-none"/>
		</div>
	</div>

{% endblock %}


{% block script %}
	<script src="{% static '/ProfilePage/scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/ProfilePage/scripts/aos.js' %}"></script>
    <script src="{% static '/ProfilePage/scripts/main.js' %}"></script>
{% endblock %}