{% extends 'EN/Clients/Index.html' %}
{% load static %}
{% load humanize %}

{% block content %}
	<div id="wrapper">
		<div class="main-content container">
			<div class="row small-spacing">
				<div class="col-xs-12">

					<div class="box-content" style="font-size: 20px;">
						<a href="{% url 'client_applied_jobs' %}" class="btn btn-primary">Back</a><br><br>

						<div class="row">
							<div class="col-xs-12">
								<div class="box-content card">
									<h4 class="box-title"><i class="fa fa-file-text ico"></i>Details</h4>
									<!-- /.box-title -->
									<div class="card-content">
										<div class="row" style="margin-bottom: 30px; border-bottom: 2px solid gray; padding-bottom: 20px;">
											<h3 class="col-md-12"><strong>Your Details:</strong></h3> 
											<div class="col-md-6">
												<div class="">
													<label><strong>Full Name:</strong></label> {{applied_job.client.first_name}} {{applied_job.client.last_name}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Specialization:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.client.client_cv.specialization}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Email:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.client.email}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Phones:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.client.client_cv.phone_primary}} - {{applied_job.client.client_cv.phone_secondary}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>City:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.client.client_cv.city}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Nationality:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.client.client_cv.nationality}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Birthday:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.client.client_cv.birth_date}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Age:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.client.client_cv.age}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											
										</div>
										<div class="row">
											<h3 class="col-md-12"><strong>Job's Details:</strong></h3>
											<div class="col-md-6">
												<div class="">
													<label><strong>Title:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.job.title}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Company Name:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.job.company.english_name}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Specialization:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.job.specialization}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Nationality:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.job.nationality}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>Salary:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.job.salary|intcomma}} SR
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<div class="col-md-6">
												<div class="">
													<label><strong>City:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.job.city}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
											<br><br>
											<div class="col-md-12 m-3">
												<div class="">
													<label><strong>Description:</strong></label>
													<!-- /.col-xs-5 -->
													{{applied_job.job.description}}
													<!-- /.col-xs-7 -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col-md-6 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.card-content -->
								</div>
								<!-- /.box-content card -->
							</div>
							<!-- /.col-md-12 -->
						</div>
						<br><br>
						<div>
							<a href="{% url 'c_job_update_apply' applied_job.apply_id %}" class="btn btn-info">Edit</a>
							<a href="{% url 'c_job_cancel_apply' applied_job.job.job_id %}" class="btn btn-danger">Cancel Apply</a>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
{% endblock %}
