{% extends 'EN/Clients/Index.html' %}
{% load static %}


{% block content %}
	<div id="wrapper">
		<div class="main-content container p-5 bg-white">
			<div class="prj-header margin-bottom-30 mt-5">
				<h3>Your Applies</h3>
			</div>
			<div class="row">
				{% for job in all_applied_jobs %}
				  <div class="col-lg-4 col-sm-6 col-12 mb-5">
				    <div class="card px-3 pb-3" style="border-radius: 10px;">
					  <div class="card-body">
					  	<div class="row mb-4">
						  	<div class="col-md-4 col-sm-12">
						  		<img src="http://localhost:8000/{{job.job.company.logo}}" class="alignleft img-thumbnail mt-0 mb-0" alt="{{job.job.title}} | {{job.job.company.english_name}}" style="width: 100%;">
						  	</div>
						  	<div class="col-md-8 col-sm-12">
							    <h3 class="card-title">{{job.job.title}}</h3>
							    <h5 class="card-subtitle mb-2 text-muted">{{job.job.company.english_name}}</h5>
							</div>
						</div>
					    <p class="card-text">{{job.job.description}}</p>
					    <p></p>
					    <span>{{job.job.start_date|timesince}} ago</span>
					    <br><br>

					    <a href="{% url 'c_job_details' job.job.job_id %}" class="card-link btn btn-primary">Job's Details</a>
					    {% if job.job.job_id in applied %}
					    	<a href="{% url 'c_applied_job_details' job.job.job_id %}" class="btn btn-secondary">Applied</a>
					    {% else %}
					    	<a href="{% url 'c_job_apply' job.job.job_id %}" class="card-link btn btn-success">Apply Now</a>
					    {% endif %}
					  </div>
					</div>
				  </div>
				{% endfor %}
			</div>
		</div>
		<!-- /.main-content -->
	</div><!--/#wrapper -->
{% endblock %}

{% block script %}
	<!-- Data Tables -->
	<script src="{% static '/client/plugin/datatables/media/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static '/client/plugin/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static '/client/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static '/client/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js' %}"></script>
	<script src="{% static '/client/scripts/datatables.demo.min.js' %}"></script>
{% endblock %}