{% extends 'EN/Clients/Index.html' %}
{% load static %}
{% load humanize %}

{% block content %}
	<div id="wrapper">
		<div class="main-content container">
			<div class="row small-spacing p-md-5">
				<div class="col-xs-12">

					<div class="box-content p-5" style="font-size: 20px;">
						<a href="{% url 'notifications' %}" class="btn btn-primary">Back to Notifications</a> <a href="{% url 'notification_delete' selected_notification.notification_id %}" class="btn btn-danger">Delete</a>

						<br><br>
						
						<p style="font-size: 14px;">{{selected_notification.date_receive}}</p>
						
						<h2><strong>{{selected_notification.title}}</strong></h2>
						
						<br>

						{{selected_notification.message | safe}}
									
						<br><br>

						<div class="row border p-5">
							<div class="col-md-6">
								<div class="">
									<label><strong>Title:</strong></label>
									<!-- /.col-xs-5 -->
									{{selected_notification.job.title}}
									<!-- /.col-xs-7 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.col-md-6 -->
							<div class="col-md-6">
								<div class="">
									<label><strong>Company Name:</strong></label>
									<!-- /.col-xs-5 -->
									{{selected_notification.job.company.english_name}}
									<!-- /.col-xs-7 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.col-md-6 -->
							<div class="col-md-6">
								<div class="">
									<label><strong>Specialization:</strong></label>
									<!-- /.col-xs-5 -->
									{{selected_notification.job.specialization}}
									<!-- /.col-xs-7 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.col-md-6 -->
							<div class="col-md-6">
								<div class="">
									<label><strong>Nationality:</strong></label>
									<!-- /.col-xs-5 -->
									{{selected_notification.job.nationality}}
									<!-- /.col-xs-7 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.col-md-6 -->
							<div class="col-md-6">
								<div class="">
									<label><strong>Salary:</strong></label>
									<!-- /.col-xs-5 -->
									{{selected_notification.job.salary|intcomma}} SR
									<!-- /.col-xs-7 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.col-md-6 -->
							<div class="col-md-6">
								<div class="">
									<label><strong>City:</strong></label>
									<!-- /.col-xs-5 -->
									{{selected_notification.job.city}}
									<!-- /.col-xs-7 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.col-md-6 -->
							<div class="col-md-12">
								<div class="">
									<label><strong>Description:</strong></label>
									<!-- /.col-xs-5 -->
									{{selected_notification.job.description}}
									<!-- /.col-xs-7 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.col-md-6 -->
							<br><br>
							<div>
								<a href="{% url 'c_job_details' selected_notification.job.job_id %}" class="btn btn-info">Job's Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
