{% extends 'EN/Clients/Index.html' %}
{% load static %}


{% block content %}
	<div id="wrapper">
		<div class="main-content container bg-white" style="max-width:500px; border-radius: 10px;">
			<div class="row pb-4">
				<div class="box-content card bg-primary">
					<h4 class="box-title bg-primary"><i class="fa fa-bell ico"></i>Notifications</h4>
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="{% url 'mark_notifications_read' %}"><i style="font-size: 20px;" class="mdi mdi-pencil"></i>Mark all as read</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
				</div>
				<div class="row mx-auto">
					{% if notification_menu == 'unread' %}
					<a href="{% url 'notifications' %}" class="p-1 mx-2 btn btn-secondary text-dark" style="border-radius: 10px; max-width: 80px; display: inline; text-align: center; font-weight: bold;">All</a>	
					<a href="{% url 'unread_notifications' %}" class="p-1 mx-2 btn btn-primary" style="border-radius: 10px; max-width: 80px; display: inline; text-align: center; font-weight: bold;">Unread</a>
					{% else %}
					<a href="{% url 'notifications' %}" class="p-1 mx-2 btn btn-primary" style="border-radius: 10px; max-width: 80px; display: inline; text-align: center; font-weight: bold;">All</a>			
					<a href="{% url 'unread_notifications' %}" class="p-1 mx-2 btn btn-secondary text-dark" style="border-radius: 10px; max-width: 80px; display: inline; text-align: center; font-weight: bold;">Unread</a>		
					{% endif %}
					
				</div>
				<div class="g-4">

				{% block notifications %}{% endblock %}
				</div>
			</div>
		</div>
		<!-- /.main-content -->
	</div><!--/#wrapper -->
{% endblock %}

{% block script %}
	<!-- Data Tables -->
	<script src="{% static '/client/plugin/datatables/media/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static '/client/plugin/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static '/client/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static '/client/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js' %}"></script>
	<script src="{% static '/client/scripts/datatables.demo.min.js' %}"></script>
{% endblock %}